<h1 color='Green'>EDA</h1>

In [3]:
#preprocessing stage
#own libs
import sys 
sys.path.append('../src')
from db_connection import conn
#public libs
import pandas as pd
import matplotlib as plt

In [4]:
#Load the dataset until sql
q = 'SELECT * FROM criminal_mind_raw'
df_raw = pd.read_sql(sql=q, con=conn.engine)

In [5]:
df_raw.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211612135,10/04/2021 12:00:00 AM,10/03/2021 12:00:00 AM,1600,16,Foothill,1613,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,AA,Adult Arrest,230.0,NaN,NaN,NaN,11100 GLENOAKS BL,None,34.2718,-118.4096
1,210118446,10/11/2021 12:00:00 AM,10/10/2021 12:00:00 AM,1430,1,Central,185,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,1200 S BROADWAY,None,34.0377,-118.2607
2,211014819,11/21/2021 12:00:00 AM,11/21/2021 12:00:00 AM,1750,10,West Valley,1094,1,310,BURGLARY,...,IC,Invest Cont,310.0,NaN,NaN,NaN,4900 AVENIDA ORIENTE,None,34.1595,-118.5365
3,211315915,09/15/2021 12:00:00 AM,09/14/2021 12:00:00 AM,1246,13,Newton,1353,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,800 E 42ND PL,None,34.0066,-118.2617
4,211906080,02/27/2021 12:00:00 AM,02/27/2021 12:00:00 AM,1210,19,Mission,1985,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,...,AA,Adult Arrest,930.0,NaN,NaN,NaN,8700 TYRONE AV,None,34.2278,-118.4471

In [6]:
df_raw.shape

(966951, 28)