<h1 color='Green'>EDA</h1>

In [2]:
#preprocessing stage
#own libs
import sys 
sys.path.append('../src')
from db_connection import conn
#public libs
import pandas as pd
import matplotlib as plt

In [3]:
#Load the dataset until sql
q = 'SELECT * FROM criminal_mind_raw'
df_raw = pd.read_sql(sql=q, con=conn.engine)

In [4]:
df_raw.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,None,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,None,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,None,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,None,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,None,34.0944,-118.3277

In [6]:
df_raw.shape

(966951, 28)

In [6]:
columns = list(df_raw.keys())
print(columns)

['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME', 'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes', 'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc', 'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT', 'LON']

In [37]:
weapon_list = list(df_raw[df_raw['Weapon Desc'].notna()]['Weapon Desc'].unique())
print(weapon_list)

['STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)', 'VEHICLE', 'UNKNOWN WEAPON/OTHER WEAPON', 'VERBAL THREAT', 'BELT FLAILING INSTRUMENT/CHAIN', 'HAND GUN', 'UNKNOWN FIREARM', 'KNIFE WITH BLADE 6INCHES OR LESS', 'FIXED OBJECT', 'KITCHEN KNIFE', 'MACHETE', 'UNKNOWN TYPE CUTTING INSTRUMENT', 'MACE/PEPPER SPRAY', 'STICK', 'OTHER KNIFE', 'PHYSICAL PRESENCE', 'KNIFE WITH BLADE OVER 6 INCHES IN LENGTH', 'HAMMER', 'AIR PISTOL/REVOLVER/RIFLE/BB GUN', 'SEMI-AUTOMATIC PISTOL', 'SIMULATED GUN', 'RAZOR', 'OTHER FIREARM', 'FOLDING KNIFE', 'PIPE/METAL PIPE', 'ROCK/THROWN OBJECT', 'RIFLE', 'OTHER CUTTING INSTRUMENT', 'FIRE', 'REVOLVER', 'BOTTLE', 'SCISSORS', 'SWITCH BLADE', 'BRASS KNUCKLES', 'CLUB/BAT', 'BLUNT INSTRUMENT', 'BOARD', 'STUN GUN', 'CLEAVER', 'RAZOR BLADE', 'SCREWDRIVER', 'SHOTGUN', 'CONCRETE BLOCK/BRICK', 'CAUSTIC CHEMICAL/POISON', 'SEMI-AUTOMATIC RIFLE', 'SCALDING LIQUID', 'TIRE IRON', 'BOWIE KNIFE', 'GLASS', 'AXE', 'TOY GUN', 'BOMB THREAT', 'SAWED OFF RIFLE/SHOTGUN', 'MARTIAL ARTS WEAPONS', 'DEMAND NOTE', 'DIRK/DAGGER', 'ASSAULT WEAPON/UZI/AK47/ETC', 'ROPE/LIGATURE', 'HECKLER & KOCH 93 SEMIAUTOMATIC ASSAULT RIFLE', 'EXPLOXIVE DEVICE', 'SWORD', 'MAC-11 SEMIAUTOMATIC ASSAULT WEAPON', 'SYRINGE', 'BOW AND ARROW', 'LIQUOR/DRUGS', 'DOG/ANIMAL (SIC ANIMAL ON)', 'BLACKJACK', 'ICE PICK', 'RELIC FIREARM', 'AUTOMATIC WEAPON/SUB-MACHINE GUN', 'ANTIQUE FIREARM', 'HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE', 'STRAIGHT RAZOR', 'M1-1 SEMIAUTOMATIC ASSAULT RIFLE', 'STARTER PISTOL/REVOLVER', 'UZI SEMIAUTOMATIC ASSAULT RIFLE', 'MAC-10 SEMIAUTOMATIC ASSAULT WEAPON', 'UNK TYPE SEMIAUTOMATIC ASSAULT RIFLE', 'M-14 SEMIAUTOMATIC ASSAULT RIFLE']

In [14]:
df_raw.describe(include='object')

,Date Rptd,DATE OCC,AREA NAME,Crm Cd Desc,Mocodes,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status,Status Desc,LOCATION,Cross Street
count,966951,966951,966951,966951,826575,833245,833235,966375,325476,966950,966951,966951,150218
unique,1679,1679,21,139,308341,5,20,306,79,6,6,66045,10265
top,02/03/2023 12:00:00 AM,01/01/2020 12:00:00 AM,Central,VEHICLE - STOLEN,0344,M,H,STREET,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,800 N ALAMEDA ST,BROADWAY
freq,925,1151,66233,107349,39874,392382,290142,248363,174195,771668,771668,2297,2445

In [28]:
df_raw['Status'].unique()

array(['AA', 'IC', 'JA', 'AO', 'JO', 'CC', None], dtype=object)

In [29]:
df_raw['Status Desc'].unique()

array(['Adult Arrest', 'Invest Cont', 'Juv Arrest', 'Adult Other',
       'Juv Other', 'UNK'], dtype=object)

In [31]:
df_raw[df_raw['Status'].isna()][['Status', 'Status Desc']]

       Status Status Desc
880017   None         UNK

In [32]:
df_raw[df_raw['Status'] == 'CC'][['Status', 'Status Desc']]

       Status Status Desc
487696     CC         UNK
606767     CC         UNK
724910     CC         UNK
817229     CC         UNK
849205     CC         UNK
916756     CC         UNK

In [17]:
df_raw['Vict Sex'].unique()

array(['M', 'X', 'F', None, 'H', '-'], dtype=object)

In [38]:
df_raw['Vict Sex'].value_counts()

Vict Sex
M    392382
F    349320
X     91432
H       110
-         1
Name: count, dtype: int64

In [40]:
df_raw['Vict Descent'].value_counts()

Vict Descent
H    290142
W    194423
B    133201
X    100144
O     75772
A     20886
K      5484
F      4383
C      4089
J      1430
V      1079
I       943
Z       508
P       266
U       206
D        84
G        70
L        69
S        54
-         2
Name: count, dtype: int64

In [20]:
wemen_victims = df_raw[df_raw['Vict Sex'] == 'F']

In [21]:
men_victims = df_raw[df_raw['Vict Sex']=='M']

In [22]:
wemen_victims.describe(include='object')

,Date Rptd,DATE OCC,AREA NAME,Crm Cd Desc,Mocodes,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status,Status Desc,LOCATION,Cross Street
count,349320,349320,349320,349320,346153,349320,349315,349269,148690,349320,349320,349320,47876
unique,1679,1679,21,132,145748,1,19,294,76,6,6,49512,6124
top,12/02/2022 12:00:00 AM,12/02/2022 12:00:00 AM,77th Street,INTIMATE PARTNER - SIMPLE ASSAULT,0344,F,H,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,800 N ALAMEDA ST,BROADWAY
freq,477,640,26415,35478,14669,349320,145752,91507,99125,255609,255609,495,794

In [24]:
men_victims.describe(include='object')

,Date Rptd,DATE OCC,AREA NAME,Crm Cd Desc,Mocodes,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status,Status Desc,LOCATION,Cross Street
count,392382,392382,392382,392382,389397,392382,392375,392119,157528,392382,392382,392382,68263
unique,1679,1679,21,135,158157,1,20,303,78,6,6,53098,7201
top,06/21/2022 12:00:00 AM,01/01/2020 12:00:00 AM,Central,BATTERY - SIMPLE ASSAULT,0344,M,H,STREET,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,800 N ALAMEDA ST,BROADWAY
freq,364,452,32335,39132,20814,392382,144173,81043,68918,313523,313523,1067,1100

In [ ]:
wemen_victims.shape()